<% content_tag :div, :class => "task-status", :id => dom_id(task, :status) do -%>
	<span class="status-icon"></span>
	<% content_tag :div, :class => "details", :style => "display: none" do -%>
		<% content_tag :div, :class => "details-inner" do -%>
			<% if task.anybody? -%>
				<%= recorded_time_for(task) %>
				<%= link_to "Add time", task_time_path(task), :rel => "facebox", :class => "anybody-add-time" %>
			<% else -%>
				<%= [ task, task.assignments ].flatten.collect { |a| recorded_time_for(a) }.join %>
			<% end -%>
		<% end -%>
	<% end -%>
<% end -%>
