<% content_tag :div, :class => "task-status", :id => dom_id(task, :status) do -%>
	<span class="status-icon"></span>
	<% content_tag :div, :class => "details", :style => "display: none" do -%>
		<% content_tag :div, :class => "details-inner" do -%>
			<%= [ task, task.assignments ].flatten.collect { |a| recorded_time_for(a) }.join %>
		<% end -%>
	<% end -%>
<% end -%>
