<h1>New Task</h1>

<% remote_form_for @task, :url => list_tasks_path(@task_list, :format => :js) do |form| %>
	<%= render :partial => "form", :object => form, :locals => { :button => "Create" } %>
<% end %>
