/* General {{{ */

* {
	margin: 0px;
	padding: 0px;
}

body, td, input, select, textarea {
	font: 14px/1.7 Helvetica, sans-serif;
}

body {
	background: #f8f8f8;
	color: #333;
}

a {
	color: #ec008c;
}

.cleaner {
	clear: both;
	height: 0px;
	overflow: none;
}

#main ul {
	margin: 0px 0px 1ex;
	padding: 0px 0px 0px 2em;
}

#main ul li {
	margin: 0px 0px 1ex;
	padding: 0px;
	list-style: square;
}

/*}}}*/

/* Messages {{{ */

.flash {
	margin: 0px 56px 8px;
	padding: 8px;
	background: #ffc;
}

/*}}}*/

/* Layout {{{ */

#columns {
	position: relative;
	margin: 0px 64px;
}

#main {
	float: left;
	width: 100%;
	margin-right: -336px;	
}

#main-inner {
	margin-right: 336px;
	padding-bottom: 64px;
}

#sidebar {
	float: right;
	width: 320px;
}

#sidebar-inner {
	padding-bottom: 64px;
}

/*}}}*/

/* Header {{{ */

#header {
	height: 5em;
	background: #ddd;
	position: relative;
	overflow: none;
	margin: 0px 0px 16px;
}

#header #logo {
	color: #f8f8f8;
	position: absolute;
	left: 64px;
	top: -0.05ex;
	font-size: 800%;
	font-weight: bold;
	line-height: 0.8em;
	text-transform: lowercase;
	text-decoration: none;
	letter-spacing: -0.15em;
}

#header #account {
	position: absolute;
	right: 64px;
	top: 0.5em;
	text-align: right;
	color: #999;
}

#header #account .agency,
#header #account .user {
	font-size: 150%;
	letter-spacing: -0.1em;
	font-weight: bold;
}

#header #account .user {
	text-decoration: none;
	color: #00aeef;
	margin-right: 0.5em;
}

#header #tabs {
	position: absolute;
	right: 64px;
	bottom: 0px;
	font-size: 150%;
}

#header #tabs li {
	display: inline;
	list-style: none;
}

#header #tabs li a {
	display: block;
	float: right;
	margin-left: 0.5em;
	padding: 0.25em 0.5em;
	line-height: 1em;
	letter-spacing: -0.1em;
	font-weight: bold;
	text-decoration: none;
	text-transform: lowercase;
	background: #ccc;
	color: #aaa;
	outline: none;
}

#header #tabs li a:hover {
  color: #8cc63f;
}

#header #tabs li a.active {
	background: #f8f8f8;
	color: #8cc63f;
}

/*}}}*/

/* Title Block {{{ */

#title {
	margin: 0px 0px 8px;
}

#title h1,
#facebox h1 {
	color: #00aeef;
	font-size: 400%;
	font-weight: bold;
	line-height: 1em;
	text-transform: lowercase;
	text-decoration: none;
	letter-spacing: -0.1em;
}

#title h1 small {
	font-size: 50%;
	color: #999;
	letter-spacing: -0.1em;
	text-transform: none;
	margin-left: 0.5em;
	line-height: 1em;
}

/*}}}*/

/* Forms {{{ */

form {
	display: block;
	border-top: 4px solid #ccc;
}

ol.form {
	padding: 0px 0px 16px;
}

#facebox ol.form,
#facebox ol.form li.buttons {
  padding-bottom: 0px;
}

ol.form li {
	display: block;
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding: 8px 0px;
}

ol.form ol.form {
  margin-left: 30%;
  padding: 0px;
}

ol.form ol.form li {
  border: none;
  padding: 0px;
}

ol.form li.text label {
	display: block;
	text-transform: uppercase;
	font-size: 85%;
	color: #999;
	float: left;
	width: 30%;
}

ol.form li.checkbox label {
	display: inline;
	text-transform: none;
	font-size: 100%;
	color: #333;
	float: none;
	width: auto;
}

ol.form li.text input.text,
ol.form li.text textarea,
ol.form li.text select {
	width: 65%;
}

ol.form li input.date {
  width: 10em;
}

ol.form li.buttons {
	border-bottom: none;
	padding-left: 30%;
	text-align: right;
}

ol.form li.checkbox {
	padding-left: 30%;
}

.button {
	font-size: 200%;
	font-weight: bold;
	letter-spacing: -0.1em;
	text-transform: lowercase;
	background: #00aeef;
	color: white;
	cursor: pointer;
	padding: 4px 16px;
	border: none;
	line-height: normal;
	margin-left: 0.25em;
	text-decoration: none;
}

.cancel {
	background: #ed1c24;
}

.errorExplanation {
	background: #ffc;
	padding: 8px;
	border: 1px solid #ccc;
	border-top: none;
}

a.inline,
input.inline {
	font-size: 100%;
	padding: 1px 0.5em;
	margin: 0px;
}

ol.form li .assignments {
	margin-left: 30%;
}

ol.form li .assignments label {
	display: inline;
	float: none;
	text-transform: none;
	font-size: 100%;
	color: #333;
}

ol.form li .assignments dt {
	clear: left;
	font-weight: bold;
	display: none;
}

ol.form li .assignments dd {
	padding-left: 1.5em;
	width: 6em;
	float: left;
}

/*}}}*/

/* Projects {{{ */

.company-projects {
	border-top: 4px solid #ccc;
	padding-bottom: 16px;
}

.project-roles {
	margin-left: 30%;
}

ol.form .project-roles li {
	padding: 0px;
	border: none;
}

ol.form .project-roles ul {
	padding: 0px !important;
}

.project-roles select {
	width: 8em !important;
}

/* }}} */

/* Users {{{ */

.company-users {
	border-top: 4px solid #ccc;
	padding-bottom: 16px;
	clear: left;
}

.company-users h2 {
  font-size: 250%;
}

.company-users h2 .inline {
  font-size: 40%;
}

.company-users .user {
  float: left;
  width: 24em;
  line-height: normal;
  margin: 0px 1em 2ex 0px;
  font-size: 90%;
}

.company-users .user .thumbnail {
  display: block;
  float: left;
  margin-bottom: 2ex;
}

.company-users .user .name {
  margin-left: 72px;
  display: block;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -0.1em;
  line-height: 1em;
}

.company-users .user .roles,
.company-users .user dl {
  margin: 0px 0px 0px 72px;
  display: block;
}

.company-users .user dl {
  line-height: 1.2em;
}

.company-users .user dt {
  height: 1.2em;
  width: 3em;
  color: #999;
  text-transform: lowercase;
  font-variant: small-caps;
}

.company-users .user dd {
  margin: -1.2em 0px 0px 4em;
}

#main ol.form ul.roles {
	margin-left: 30%;
	padding: 0px;
}

#main ol.form li ul.roles li {
	border: none;
	padding: 0px;
	margin: 0px;
}

#main ol.form li ul.roles li label {
	float: none;
	display: inline;
	text-transform: none;
	font-size: 100%;
	color: #333;
}

/* }}} */

/* Tasks {{{ */

.task-list {
  
}

.task-list .header {
  border-bottom: 4px solid #ccc;
}

#main .task-list .tasks {
  margin: 0px;
  padding: 0px;
}

#main .task {
  position: relative;
  display: block;
  list-style: none;
  border-bottom: 1px solid #ccc;
  margin: 0px;
  padding: 0px 0px 0px 2em;
}

#main .task .task-id {
	font-weight: bold;
	letter-spacing: -0.1em;
	text-transform: lowercase;
	background: #8cc63f;
	color: white;
	cursor: pointer;
	border: none;
	text-decoration: none;
	font-size: 100%;
	padding: 1px 0.5em;
	margin: 0px;
}

#main .overdue .task-id { background: #ed1c24; }
#main .blocked .task-id { background: #ff6600; }

.task .task-edit {
  visibility: hidden;
}

.task:hover .task-edit {
  visibility: visible;
}

.task .users {
  display: block;
  color: #999;
  font-size: 95%;
}

.task .users a {
  padding: 1px 0px 1px 16px;
  background: url(/images/assignment-not-started.png) no-repeat 0px 50%;
}

.task .users a.started { background-image: url(/images/assignment-started.png); }
.task .users a.blocked, .task .users a.unassigned { background-image: url(/images/assignment-blocked.png); }
.task .users a.completed { background-image: url(/images/assignment-completed.png); }

/* }}} */

/* Time {{{ */

#time-table {
  margin: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
}

#time-table tbody th,
#time-table tbody td,
#time-table thead td,
#time-table tfoot td {
  padding: 0.5ex 0.5em;
  border-bottom: 1px solid #ccc;
  line-height: normal;
}

#time-table thead th {
  padding: 0ex 0.33em;
  background: #ccc;
  text-align: left;
  color: #999;
	letter-spacing: -0.1em;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 150%;
  line-height: normal;
}

#time-table thead td {
  background: #eee;
}

#time-table tfoot .empty td {
  padding: 1em;
  text-align: center;
  color: #999;
}

#time-table #time_slice_hours { width: 3em; }
#time-table #time_slice_date { width: 6em; }
#time-table #time_slice_summary { width: 20em; }

/* }}} */
