/* General {{{ */

* {
	margin: 0px;
	padding: 0px;
}

body, td, input, select, textarea {
	font: 14px/1.7 Helvetica, sans-serif;
}

body {
	background: #f8f8f8;
	color: #333;
}

a {
	color: #ec008c;
	outline: none;
}

.cleaner {
	clear: both;
	height: 0px;
	overflow: none;
}

ul {
	margin: 0px 0px 1ex;
	padding: 0px 0px 0px 2em;
}


ul li {
	margin: 0px 0px 1ex;
	padding: 0px;
	list-style: square;
}

small {
	font-size: 90%;
}

/*}}}*/

/* Messages {{{ */

.flash {
	margin: 0px 56px 8px;
	padding: 8px;
	background: #ffc;
}

/*}}}*/

/* Layout {{{ */

#columns {
	position: relative;
	margin: 0px 64px;
}

#main {
	float: left;
	width: 100%;
	margin-right: -352px;	
}

#main-inner {
	margin-right: 352px;
	padding-bottom: 64px;
}

#sidebar {
	float: right;
	width: 320px;
}

#sidebar-inner {
	padding-bottom: 64px;
}

/*}}}*/

/* Header {{{ */

#header {
	height: 5em;
	background: #ddd;
	position: relative;
	overflow: none;
	margin: 0px 0px 16px;
}

#header #logo {
	color: #f8f8f8;
	position: absolute;
	left: 64px;
	top: -0.05ex;
	font-size: 800%;
	font-weight: bold;
	line-height: 0.8em;
	text-transform: lowercase;
	text-decoration: none;
	letter-spacing: -0.15em;
}

#header #account {
	position: absolute;
	right: 64px;
	top: 0.5em;
	text-align: right;
	color: #999;
}

#header #account .agency,
#header #account .user {
	font-size: 150%;
	letter-spacing: -0.1em;
	font-weight: bold;
}

#header #account .user {
	text-decoration: none;
	color: #00aeef;
	margin-right: 0.5em;
}

#header #tabs {
	position: absolute;
	right: 64px;
	bottom: 0px;
	font-size: 150%;
	padding: 0px;
	margin: 0px;
}

#header #tabs li {
	display: inline;
	list-style: none;
	padding: 0px;
	background: none;
	margin: 0px;
}

#header #tabs li a {
	display: block;
	float: right;
	margin-left: 0.5em;
	padding: 0.25em 0.5em;
	line-height: 1em;
	letter-spacing: -0.1em;
	font-weight: bold;
	text-decoration: none;
	text-transform: lowercase;
	background: #ccc;
	color: #aaa;
}

#header #tabs li a:hover {
  color: #8cc63f;
}

#header #tabs li a.active {
	background: #f8f8f8;
	color: #8cc63f;
}

/*}}}*/

/* Title Block {{{ */

#title {
	margin: 0px 0px 8px;
}

#title h1,
#facebox h1 {
	color: #00aeef;
	font-size: 400%;
	font-weight: bold;
	line-height: 1em;
	text-transform: lowercase;
	text-decoration: none;
	letter-spacing: -0.1em;
}

#title h1 small {
	font-size: 50%;
	color: #999;
	letter-spacing: -0.1em;
	text-transform: none;
	margin-left: 0.5em;
	line-height: 1em;
}

#title h1 .inline {
  font-size: 40%;
	visibility: hidden;
	vertical-align: middle;
}

#title h1:hover .inline {
	visibility: visible;
}

/*}}}*/

/* Forms {{{ */

form {
	display: block;
	border-top: 4px solid #ccc;
}

ol.form {
	padding: 0px 0px 16px;
}

#facebox ol.form,
#facebox ol.form li.buttons {
  padding-bottom: 0px;
}

ol.form li {
	display: block;
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding: 8px 0px;
}

ol.form ol.form {
  margin-left: 30%;
  padding: 0px;
}

ol.form ol.form li {
  border: none;
  padding: 0px;
}

ol.form li small {
	color: #999;
	line-height: normal;
}

ol.form li.text label,
ol.form li.textarea label {
	display: block;
	text-transform: uppercase;
	font-size: 85%;
	color: #999;
	float: left;
	width: 30%;
}

ol.form li.textarea label {
	float: none;
	width: 100%;
}

ol.form li.checkbox label {
	display: inline;
	text-transform: none;
	font-size: 100%;
	color: #333;
	float: none;
	width: auto;
}

ol.form li.text input.text,
ol.form li.text textarea,
ol.form li.text select {
	width: 65%;
}

ol.form li.textarea textarea,
ol.form li.textarea input.text {
	width: 100%;
	line-height: 1.4;
}

ol.form li.textarea input.text {
	font-size: 125%;
}

ol.form li input.date {
  width: 10em;
}

ol.form li.buttons {
	border-bottom: none;
	padding-left: 30%;
	text-align: right;
}

ol.form li.checkbox {
	padding-left: 30%;
}

.button {
	font-size: 200%;
	font-weight: bold;
	letter-spacing: -0.1em;
	text-transform: lowercase;
	background: #00aeef;
	color: white;
	cursor: pointer;
	padding: 4px 16px;
	border: none;
	line-height: normal;
	margin-left: 0.25em;
	text-decoration: none;
	outline: none;
}

.cancel, .delete { background: #ed1c24; }
.ok, .add { background: #8cc63f; }
.blockage { background: #ff6600; }

.errorExplanation {
	background: #ffc;
	padding: 8px;
	border: 1px solid #ccc;
	border-top: none;
}

a.inline,
input.inline {
	font-size: 100%;
	padding: 1px 0.5em;
	margin: 0px;
}

ol.form li .assignments {
	margin-left: 30%;
}

ol.form li .assignments label {
	display: inline;
	float: none;
	text-transform: none;
	font-size: 100%;
	color: #333;
}

ol.form li .assignments li {
	margin: 0px;
	padding: 4px 0px;
	border: none;
}

ol.form li .assignments li select {
	width: 10em;
}

ol.form li .assignments li select option,
ol.form li .assignments li select optgroup option {
	padding-left: 1em;
	text-transform: none;
	color: #333;
}

ol.form li .assignments li select optgroup {
	font-style: normal;
	font-weight: normal;
	color: #999;
	text-transform: uppercase;
	padding-left: 0.25em;
}

ol.form li .assignments li select optgroup option {
	padding-left: 0.75em;
}

ol.form li .assignments li .hours {
	width: 3em;
}

ol.form li .assignments #new_assignment_row {
	padding: 4px;
	background: #eee;
}

/* Time Picker {{{ */

.time-picker-select {
	border: 1px solid #999;
	background: white;
	color: #444;
	line-height: 1.5;
	height: 7.5em;
	overflow-y: scroll;
	text-align: left;
	z-index: 2000;
	margin: 0px;
	padding: 0px;
}

.time-picker-select ul {
	margin: 0px;
	padding: 0px;
}

.time-picker-select li {
	list-style: none;
	display: inline;
	padding: 0px;
	margin: 0px;
}

.time-picker-select li a {
	display: block;
	padding: 0px 8px;
	color: #444;
	text-decoration: none;
}

.time-picker-select li a:hover,
.time-picker-select li a.selected {
	background: #ccc;
}

/*}}}*/

/*}}}*/

/* Projects {{{ */

.company-projects {
	border-top: 4px solid #ccc;
	padding-bottom: 16px;
}

.project-roles {
	margin-left: 30%;
}

ol.form .project-roles li {
	padding: 0px;
	border: none;
}

ol.form .project-roles ul {
	padding: 0px !important;
}

.project-roles select {
	width: 8em !important;
}

#new-task-list-form {
	display: block;
	background: #8cc63f;
	border: none;
	padding: 8px;
}

#new-task-list-form input.text {
	font-size: 125%;
	border: none;
	width: 100%;
	padding: 0.25ex 0px;
	display: block;
	margin-bottom: 8px;
}

#new-task-list-form .button {
	font-size: 150%;
}

#new-task-list-form .add {
	background: #00aeef;
}

/* }}} */

/* Users {{{ */

.company-users {
	border-top: 4px solid #ccc;
	padding-bottom: 16px;
	clear: left;
}

.company-users h2 {
  font-size: 250%;
}

.company-users h2 .inline {
  font-size: 40%;
}

.company-users .user {
  float: left;
  width: 24em;
  line-height: normal;
  margin: 0px 1em 2ex 0px;
  font-size: 90%;
}

.company-users .user .thumbnail {
  display: block;
  float: left;
  margin-bottom: 2ex;
}

.company-users .user .name {
  margin-left: 72px;
  display: block;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -0.1em;
  line-height: 1em;
}

.company-users .user .roles,
.company-users .user dl {
  margin: 0px 0px 0px 72px;
  display: block;
}

.company-users .user dl {
  line-height: 1.2em;
}

.company-users .user dt {
  height: 1.2em;
  width: 3em;
  color: #999;
  text-transform: lowercase;
  font-variant: small-caps;
}

.company-users .user dd {
  margin: -1.2em 0px 0px 4em;
}

ol.form ul.roles {
	margin-left: 30%;
	padding: 0px;
}

ol.form li ul.roles li {
	border: none;
	padding: 0px;
	margin: 0px;
}

ol.form li ul.roles li label {
	float: none;
	display: inline;
	text-transform: none;
	font-size: 100%;
	color: #333;
}

.user-selector {
  height: 32px;
  background: white url(/images/default-user-tiny.png) no-repeat 0px 0px;
  position: relative;
	margin: 0px 0px 16px;
}

.user-selector .current {
  display: block;
  margin: 0px;
  padding: 0px 0px 0px 40px;
  line-height: 32px;
  text-align: middle;
  font-size: 150%;
  font-weight: bold;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.user-selector .arrow {
  line-height: 32px;
  font-weight: bold;
  background: #00aeef;
  color: white;
  padding: 0px 0.25em;
  float: right;
  text-decoration: none;
}

.user-selector ul {
  position: absolute;
  left: 0px;
  top: 32px;
  width: 100%;
  height: 165px;
  overflow-y: scroll;
	margin: 0px;
	padding: 0px;
}

.user-selector ul li {
  display: block;
  background: white url(/images/default-user-tiny.png) no-repeat 0px 0px;
  border-top: 1px solid #f8f8f8;
	margin: 0px;
	padding: 0px;
}

.user-selector ul li a {
  display: block;
  margin: 0px;
  padding: 0px 0px 0px 32px;
  line-height: 32px;
  text-align: middle;
  font-size: 150%;
  font-weight: bold;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.user-selector ul li a strong {
  display: block;
  padding-left: 8px;
}

.user-selector ul li a:hover strong {
  background-color: #00aeef;
  color: white;
}

/* }}} */

/* Tasks {{{ */

.task-list {
  padding-bottom: 1ex;
	width: 100%;
}

.task-list .header {
  position: relative;
  border-top: 4px solid #ccc;
}

.task-list .header h2 {
	font-size: 150%;
}

.task-list .header h2 small {
  position: absolute;
  right: 0px;
  bottom: 0px;
	font-weight: normal;
}

.task-list .header h2 small .toggle {
  text-decoration: none;
}

.task-list .header .inline {
  
}

.task-list .empty,
.tasks .empty {
  padding: 0.5em;
  background: #ffc;
  color: #999;
  margin: 0px 0px 1ex;
}

.tasks {
  margin: 0px;
  padding: 0px;
}

ul.completed li .status-icon,
ul.completed li .task-name,
ul.completed li .task-meta {
  opacity: 0.5;
}

.tasks li {
  display: block;
  list-style: none;
}

.tasks .task {
  position: relative;
  margin: 0px;
  padding: 4px 0px 4px 44px;
	line-height: 1.5;
}

.task .task-id {
	font-weight: bold;
	letter-spacing: -0.1em;
	text-transform: lowercase;
	background: #8cc63f;
	color: white;
	cursor: pointer;
	border: none;
	text-decoration: none;
	font-size: 100%;
	padding: 1px 0.5em;
	margin: 0px;
}

.task .task-name strong {
  font-weight: normal;
}

.completed .task-name strong {
  text-decoration: line-through;
}

.overdue .task-id { background: #ed1c24; }
.blocked .task-id { background: #ff6600; }
.completed .task-id { background: #999; }

.task .task-name .button {
  visibility: hidden;
}

.task:hover {
	background: #eee;
}

.task:hover .task-name .button {
  visibility: visible;
}

.task-meta {
	color: #999;
}

.task-meta .due-date {
	color: #666;
	cursor: help;
	border-bottom: 1px solid #ccc;
}

.task .no-due-date {
	color: #ccc;
}

.task .task-status {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 32px;
	height: 32px;
}

.task .task-status .status-icon {
	display: block;
	width: 32px;
	height: 32px;
	background: url(/images/progress-32.png) no-repeat 0px 0px;
}

.task .p0 .status-icon                   { background-position: 0px 0px; }
.task .p1 .status-icon                   { background-position: 0px -32px; }
.task .p2 .status-icon                   { background-position: 0px -64px; }
.task .p3 .status-icon                   { background-position: 0px -96px; }
.task .p4 .status-icon                   { background-position: 0px -128px; }
.task .p5 .status-icon                   { background-position: 0px -160px; }
.task .p6 .status-icon                   { background-position: 0px -192px; }
.task .p7 .status-icon                   { background-position: 0px -224px; }
.task .p8 .status-icon                   { background-position: 0px -256px; }
.task .p9 .status-icon                   { background-position: 0px -288px; }
.task .p10 .status-icon                  { background-position: 0px -320px; }
.task .p11 .status-icon                  { background-position: 0px -352px; }
.task .p12 .status-icon                  { background-position: 0px -384px; }
.unassigned .task-status .status-icon    { background-position: 0px -544px; }
.task .completed .status-icon            { background-position: 0px -416px; }
.task .overbudget .status-icon           { background-position: 0px -448px; }
.task .completed.overbudget .status-icon { background-position: 0px -480px; }
.blocked .task-status .status-icon       { background-position: 0px -512px; }

.task .task-status .details {
	position: absolute;
	left: -10px;
	top: 32px;
	background: url(/images/task-status-popup-bottom.png) no-repeat 0px 100%;
	color: white;
	width: 272px;
	padding: 0px 14px 14px;
	font-size: 90%;
	line-height: normal;
	z-index: 50;
	opacity: 0.9;
}

.task .task-status .details .details-inner {
	margin: -20px -14px 0px;
	padding: 28px 14px 0px;
	background: url(/images/task-status-popup-top.png) no-repeat 0px 0px;
}

.task .task-status .details .assignment-recorded-time {
	display: block;
	margin: 0px -4px 0px -4px;
	padding: 4px 4px 4px 36px;
	color: white;
	text-decoration: none;
	position: relative;
}

.task .task-status .details .assignment-recorded-time .icon {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 24px;
	height: 24px;
	background: url(/images/progress-24.png) no-repeat 0px 0px;
}

.task .task-status .details .assignment-recorded-time small {
	font-size: 100%;
}

.task .task-status .details .assignment-recorded-time.completed {
	opacity: 0.75;
}

.task .task-status .details .assignment-recorded-time:hover {
	background-color: #6fbce8;
}

.task .task-status .details .p0                    .icon { background-position: 0px 0px; }
.task .task-status .details .p1                    .icon { background-position: 0px -24px; }
.task .task-status .details .p2                    .icon { background-position: 0px -48px; }
.task .task-status .details .p3                    .icon { background-position: 0px -72px; }
.task .task-status .details .p4                    .icon { background-position: 0px -96px; }
.task .task-status .details .p5                    .icon { background-position: 0px -120px; }
.task .task-status .details .p6                    .icon { background-position: 0px -144px; }
.task .task-status .details .p7                    .icon { background-position: 0px -168px; }
.task .task-status .details .p8                    .icon { background-position: 0px -192px; }
.task .task-status .details .p9                    .icon { background-position: 0px -216px; }
.task .task-status .details .p10                   .icon { background-position: 0px -240px; }
.task .task-status .details .p11                   .icon { background-position: 0px -264px; }
.task .task-status .details .p12                   .icon { background-position: 0px -288px; }
.task .task-status .details .completed             .icon { background-position: 0px -312px; }
.task .task-status .details .overbudget            .icon { background-position: 0px -336px; }
.task .task-status .details .completed.overbudget  .icon { background-position: 0px -360px; }
.task .task-status .details .blocked               .icon { background-position: 0px -384px; }

.task .task-status .details .task-recorded-time {
	display: block;
	font-size: 150%;
	font-weight: bold;
	background: none;
}

.task .task-status .details .task-recorded-time small {
	font-weight: normal;
	font-size: 75%;
}

.task .task-status .details .assignment-recorded-time .user {
	display: block;
}

.task .task-status .details .anybody-add-time {
	display: block;
	margin: 0px -4px 0px -4px;
	padding: 4px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.task .task-status .details .anybody-add-time:hover {
	background: #6fbce8;
}

/*
.completed .task .task-status {
  left: 16px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url(/images/progress/tiny/completed.png) no-repeat 0px 0px;
}

.completed .task .overbudget { background-image: url(/images/progress/tiny/overbudget.png); }
.completed .task .completed.overbudget { background-image: url(/images/progress/tiny/completed-overbudget.png); }
.completed .task .open { background-image: url(/images/progress/tiny/open.png); }

.completed .task .task-meta {
  display: none;
}
*/

.ui-sortable .task-list,
.task-name {
	cursor: move;
}

.task .blockages {
  margin: 0px;
  padding: 0px;
}

.task .blockages li {
  margin: 0px;
  padding: 0px;
}

.task .blockages li strong {
  background: #ff6600;
  color: white;
  padding: 1px 0.5em;
}

.task .blockages li .delete {
  visibility: hidden;
}

.task .blockages li:hover .delete {
  visibility: visible;
}

/* }}} */

/* Time {{{ */

#time-table {
  margin: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
}

#time-table tbody th,
#time-table tbody td,
#time-table thead td,
#time-table tfoot td {
  padding: 0.5ex 0.5em;
  border-bottom: 1px solid #ccc;
  line-height: normal;
	vertical-align: top;
}

#time-table thead th {
  padding: 0ex 0.33em;
  background: #ccc;
  text-align: left;
  color: #999;
	letter-spacing: -0.1em;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 150%;
  line-height: normal;
}

#time-table thead td {
  background: #eee;
}

#time-table tfoot .empty td {
  padding: 1em;
  text-align: center;
  color: #999;
}

#time-table #time_slice_hours { width: 4em; }
#time-table #time_slice_date { width: 9em; }
#time-table #time_slice_summary { width: 20em; }
#time-table #time_slice_user_id { width: 6em; }

.graph {
	border-top: 4px solid #ccc;
	background: white;
	padding: 8px 8px 0px;
}

.timeline { 
	font-size: 0.75em; 
	height: 12em;
	padding: 0px;
}

#facebox .timeline {
	height: 8em;
}

.timeline li {
	list-style: none;
	padding: 0;
	height: 8em;
	position: relative;
	float: left;
	width: 1.4em; 
	margin: 0 0.1em 2em 0.1em;
}

#facebox .timeline li {
	height: 4em;
}

.timeline li a { 
	display: block;
	height: 100%;
	color: #999;
	text-decoration: none;
}

.timeline li.weekend a {
	color: #ec008c;
	font-weight: bold;
}

.timeline li .label { 
	display: block;
	position: absolute;
	bottom: -1.75em;
	line-height: 1.5em;
	left: 0;
	width: 100%;
	text-align: center;
}

.timeline li a .count { 
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	text-indent: -9999px;
	overflow: hidden;
	width: 100%;
	height: 0;
	background: #aaa;
}

.timeline li:hover { 
	background: #e8e8e8; 
}

.timeline li a:hover {
	color: black;
	font-weight: bold;
}

.timeline li a:hover .count { 
	background: #00aeef; 
}

.timeline li a:hover .label { 
	background: #ec008c;
	color: white; 
}

.timeline li .month {
	position: absolute;
	left: 0px;
	bottom: -3.25em;
	width: 12em;
	color: #999;
}

/* }}} */

/* Wiki {{{ */

.wiki-page {
	padding: 8px 0px 4ex;
	border-top: 4px solid #ccc;
}

a.wiki {
	
}

a.wiki.missing {
	padding-right: 16px;
	background: url(/images/wiki-link-missing.png) no-repeat 100% 50%;
}

#history {
	border-top: 1px solid #ccc;
}

#history h2 .inline {
	font-size: 85%;
}

#sidebar .wiki-categories {
	border-top: 1px solid #ccc;
}

#sidebar .wiki-categories li {
	display: block;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	font-size: 125%;
}

#sidebar .wiki-categories li li {
	padding: 0px 0px 0px 1em;
	border-bottom: none;
	font-weight: normal;
	font-size: 80%;
}

#sidebar .wiki-categories li li li {
	font-size: 100%;
}

#sidebar #search-form {
	padding: 8px 0px;
}

#title #search-form {
	padding: 8px;
	background: #eee;
}

#title #search-form input {
	font-size: 150%;
}

.search-results {
	border-bottom: 1px solid #ccc;
}

.search-results li {
	border-top: 1px solid #ccc;
	padding: 8px 0px;
}

.search-results li h4 {
	font-size: 125%;
}

.search-results li h4 small {
	font-size: 80%;
	color: #999;
	font-weight: normal;
}

.search-results li h4 small a {
	color: #666;
}

strong.highlight {
	background: #ffc;
	color: black;
}

a strong.highlight {
	text-decoration: underline;
	color: inherit;
}

/*}}}*/

/* Sidebar {{{ */

#sidebar ul.actions {
	margin: 0px;
	padding: 0px;
}

#sidebar ul.actions li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#sidebar ul.actions li a {
	float: left;
	margin: 0px 8px 8px 0px;
}

/*}}}*/

/* Dashboard {{{ */

#dashboard h2 {
	color: #00aeef;
	font-size: 400%;
	font-weight: bold;
	line-height: 1em;
	text-transform: lowercase;
	text-decoration: none;
	letter-spacing: -0.1em;
}

/*}}}*/
