<% content_for :page_title, @user -%>

<% content_for :title do -%>
	<h1>Account Settings</h1>
<% end -%>
 
<% form_for @user, :url => @user do |form| %>
  <%= render :partial => "form", :object => form, :locals => { :button => "Save" } %>
<% end %>
 
