<% content_for :page_title, "People" -%>

<% content_for :title do -%>
	<h1>People</h1>
<% end -%>

<% auto_tabs(@companies, :keys => ('A'..'Z'), :weight => lambda { |c| 10 + c.users.size }) do |tab_keys, companies| -%>
	<% companies.each do |company| -%>
		<%= render :partial => company.class.name.underscore, :object => company %>
	<% end -%>
<% end -%>

