<h2>Categories</h2>
<ul class="wiki-categories">
	<% cache :controller => "wiki", :list => "categories" do -%>
		<%= render :partial => "category", :collection => WikiPage.categories, :locals => { :depth => 2 } %>
	<% end -%>
</ul>
