<% content_for :page_title, "Projects" -%>

<% content_for :title do -%>
	<h1>Projects</h1>
<% end -%>

<% auto_tabs(@companies, :keys => ('A'..'Z'), :weight => lambda { |c| 10 + c.projects.size }) do |tab_keys, companies| -%>
	<% companies.each do |company| -%>
		<% content_tag :div, :class => "company-projects" do -%>
			<h2><%= link_to company, company_projects_path(company) %> <%= link_to "New project", new_company_project_path(company), :class => "inline button" %></h2>
			<% content_tag :ul, :class => :projects do -%>
				<%= render :partial => company.projects %>
			<% end -%>
		<% end -%>
	<% end -%>
<% end -%>

