<h1>New project</h1>

<% form_for @project, :url => company_projects_path(current_company) do |form| %>
	<%= render :partial => "form", :object => form, :locals => { :button => "Create" } %>
<% end %>
