<% content_for :title do -%>
	<h1><%= @project %> <small>(<%= link_to @project.company, company_path(@project.company) %>)</small></h1>
<% end -%>

<% content_tag :div, :class => "project", :id => dom_id(@project) do -%>
  <% content_tag :div, :id => dom_id(@project, :lists), :class => :lists do -%>
  	<%= render :partial => @project.task_lists %>
  <% end -%>
<% end -%>

<% content_for :sidebar do -%>
  <% content_tag :div, :class => "viewing-user" do -%>
    <%= select_tag "viewing-user", options_for_select([[ "(anyone)", "" ], [ "#{current_user} (me)", current_user.id ]] + (current_agency.users - [ current_user ]).collect { |u| [ u.to_s, u.id ] }) %>
  <% end -%>

	<%#= link_to "New task list", new_project_list_path(@project), :class => "add button" %>
	<%#= link_to "Edit", edit_project_path(@project), :class => "edit button" %>
<% end -%>

