<h1>Blocked?</h1>

<% remote_form_for @blockage, :url => task_blockages_path(@task, :format => :js) do |form| %>
	<%= render :partial => "form", :object => form, :locals => { :button => "Create" } %>
<% end %>
