<% content_for :page_title, @company -%>

<% content_for :title do -%>
	<h1><%= @company %></h1>
<% end -%>

<% content_for :sidebar do -%>
	<%= content_tag :h2, "People" %>
	<%= render :partial => @company.users(:include => :roles) %>
<% end -%>
