<h1>New Task List</h1>

<% form_for @task_list, :url => project_lists_path(scope) do |form| %>
	<%= render :partial => "form", :object => form, :locals => { :button => "Create" } %>
<% end %>

<%= link_to 'Back', project_lists_path(scope) %>
